{% extends 'base.twig' %}

{% block content %}

	<article class="single-post">
		<div class="the-post">
			<h1 class="the-title">{{ the_title }}</h1>

			<div class="the-meta">
				{% if display_date %}
					<p class="date-categories">
						<time class="the-date" datetime="{{ machine_date|esc_attr }}">{{ display_date }}</time>
					</p>
				{% endif %}
				<p><img src="{{ the_author_avatar_url|esc_url }}"> {{ the_author }}<p>
			</div>

			<div class="the-content wysiwyg">
				{{ the_content }}
			</div>
		</div>
	</article>

{% endblock %}
